.footer{
    background-color:  rgb(4, 2, 32) ;
    height: 30vh ;
}

.header{
    color: rgb(202, 233, 153) ;
    font-weight:700 ;
    font-size: 15px ;
    margin-top: 30px ;
    margin-left: 28px ;
}


